:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #ff5100;
  --yellow: #fefc00;
  --lime: #09ff00;
  --cyan: #00ffd5;
}

/*
WATCHDOGS GARETH LOADING SCREEN PLEASE AND THANKYOU 
as in the video game with the hexagons and shit

font-family: "Heebo", sans-serif;

*/


/*  reset all css margins ect*/
html {
  margin:0px;
  font-family: "Heebo", sans-serif;
 }

body {
  width: 100vw;
  margin: 0px;
}


/*
█▄█ ██▀ ▄▀▄ █▀▄ ██▀ █▀▄ 
█ █ █▄▄ █▀█ █▄▀ █▄▄ █▀▄ 
*/

header {
  display: grid;

}

header h1 {
  width: fit-content;
  display: flex;
  align-self: center;

  grid-column: 2;
  grid-row: 1;

  font-weight: 200;
}

.logo {
  margin-left: auto;
  width: 100px;
  z-index: 1;
}

.logo img{
  grid-row: 1;
  grid-column: 1;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}


.main {
  margin-left: auto;
  margin-right: auto;

  width: 70vw;

}

@media screen and (max-width: 600px){
  iframe {
    height: 80px;
  }
}


.footer {
  text-align: center;
}