/* 
Colours to use!
white
#F2F2F2
orange
#F2A03D
types of green
#D0D98F
#B2BF50
#5F7336
*/


/* this is to make the website go all the way to the edges of the website*/

html {
    margin: 0%;
    padding: 0%;
}


/* this is to make the website go all the way to the edges of the website*/

body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: #F2A03D;
}


/*makes header flip apon hover, also makes the header look nicer, the color is the font color*/

header {
    color: #F2A03D;
    background-image: url("img/tree.jpg");
    filter: invert(10%);
    margin: 0%;
}


/* Make the website stretch to the top of the viewport by removing the margin at the top of the h1 in the header */

header h1 {
    margin-top: 0;
    padding-left: 1%;
}

header i {
    margin-top: 0;
    padding-left: 1%;
}


/*makes it so when hovered over, it flips*/

h1:hover {
    transform: scaleX(-1);
}

.topnav {
    background-color: #D0D98F;
    overflow: hidden;
}


/* make nav colored*/

.topnav a {
    float: left;
    color: #010101;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition-duration: 0.55s;
}


/* mouse hover over change color to other website's themes*/


/*rav*/

.topnav .toasternav:hover {
    background-image: linear-gradient(90deg, #29FFC8, #FFE600);
    color: #010101;
    transition: 5s linear;
}

.topnav .musicnav:hover {
    background-color: #010101;
    color: white;
}


/*rest of website*/

.main p {
    text-align: center;
}


/*all things about the picture spinning*/

.intro {
    padding: 3em;
}

.shake {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10em;
}

.main .shake {
    animation: shake 3s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}


/* footer */


/* DEAR GARETH, please never put "fixed" or "absoulute" in your footers.*/


/*DEAR GARETH, there is not enough content for the footer to be at the bottom of the page like this, ima use fixed*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0%;
    width: 100%;
    padding-bottom: 1%;
    background-image: url("img/tree.jpg");
    filter: invert(10%);
    text-align: center;
    font-size: 200%;
    color: #F2A03D;
}