/* 
Colours to use!

yellow
#FFE600

Cyan
#46D4F0

Green
#00A80B

Orange 
#EB6F00

Dark Magenta
#A32F61
*/


/* this is to make the website go all the way to the edges of the website*/

html {
    margin: 0%;
    padding: 0%;
}


/* this is to make the website go all the way to the edges of the website*/

body {
    margin: 0%;
    padding: 0%;
}


/*makes header flip apon hover, also makes the header look nicer, the color is the font color*/

header {
    color: #FFE600;
    background-image: url("img/floor.jpg");
    filter: invert(10%);
    margin: 0%;
}


/* Make the website stretch to the top of the viewport by removing the margin at the top of the h1 in the header */

header h1 {
    margin-top: 0;
}


/*makes it so when hovered over, it flips*/

h1:hover {
    transform: scaleX(-1);
}


/*
i:hover {
    transform: scaleX(-1);
}
*/

.topnav {
    background-color: #FFE600;
    overflow: hidden;
}


/* make nav colored*/

.topnav a {
    float: left;
    color: #010101;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition-duration: 0.55s;
}


/* mouse hover over change color to theme of other website*/

.topnav .djnav:hover {
    background-color: #A10F4E;
    color: #0CD7F8;
}

.topnav .homenav:hover {
    background-color: #D0D98F;
    color: #F2A03D;
}

section p {
    background-color: #FFE600;
    padding: 5% 3% 5% 3%;
    margin: 0% 0% 0% 0%;
}

.whodoe {
    font-size: 4vw;
}

.introblurb {
    font-size: 3em;
}

.widepic img {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}