/* 
Colours to use!

yellow
#FFE600

cyan(use with yellow)
#29FFC8

Cyan
#46D4F0

Green
#00A80B

Orange 
#EB6F00

Dark Magenta
#A32F61
*/


/* this is to make the website go all the way to the edges of the website*/

html {
    margin: 0%;
    padding: 0%;
}


/* this is to make the website go all the way to the edges of the website*/

body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color:#FFE600;
}


/*makes header flip apon hover, also makes the header look nicer, the color is the font color*/

header {
    color: #29FFC8;
    background-image: url("img/floor.jpg");
    filter: invert(10%);
    margin: 0%;
}


/* Make the website stretch to the top of the viewport by removing the margin at the top of the h1 in the header */

header h1 {
    margin-top: 0;
    padding-left: 1%;
}

header i {
    margin-top: 0;
    padding-left: 1%;
}


/*makes it so when hovered over, it flips*/

h1:hover {
    transform: scaleX(-1);
}


/*
i:hover {
    transform: scaleX(-1);
}
*/

.topnav {
    background-color: #FFE600;
    overflow: hidden;
}


/* make nav colored*/

.topnav a {
    float: left;
    color: #010101;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition-duration: 0.55s;
}


/* mouse hover over change color to theme of other website*/

.topnav .djnav:hover {
    background-color: #A10F4E;
    color: #0CD7F8;
}

.topnav .homenav {
    background-color:#29FFC8;
    color:#010101;
    
}

.topnav .whenuanav {
    background-image: linear-gradient(90deg,#29FFC8,#FFE600);

}

.topnav .homenav:hover {
    background-color: #D0D98F;
    color: #F2A03D;
}

.topnav .musicnav:hover {
    background-color: #010101;
    color: white;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0%;
    width: 100%;   
    padding-bottom: 1%;
    
    background-image: url("img/floor.jpg");
    filter: invert(10%);
    
    text-align: center;
    font-size: 200%;
    color: #29FFC8;
}